.user-profile-image {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-image>img {}

.user-profile-image-missing {
    height: 300px;
    aspect-ratio: 1;
    background-image: url(../../../missing-image.png);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
}

.user-data {
    height: 100%;
}

.data {
    height: 80%;
}

.homepage-description {
    overflow-y: scroll;
}