.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--color-main-light);
    font-family: var(--font-family-main);
}

.full-user-info {
    grid-column: 1/ span 2;
    display: flex;
    background-color: white;
    margin: 1rem;
    border-radius: 2px;
}

.homepage-projects {
    background-color: white;
    border-radius: 2px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
}

.homepage-teams {
    background-color: white;
    border-radius: 2px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
}

.homepage-messages {
    grid-column: 1/ span 2;
    background-color: white;
    border-radius: 2px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
}

.homepage-block-title {
    font-family: var(--font-family-secondary);
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-main-darkest);
}