.single-user-container {}

.user-display {}

.user-display-actions {
    display: flex;
}

.action {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
}

.action:hover {
    box-shadow: 0 0 5px var(--color-main-dark);
}

.mail-icon {
    height: 2rem;
    width: 2rem;
    background-image: url(../../../../MailIcon.png);
    background-position: center;
    background-size: contain;
}

.message-icon {
    height: 2rem;
    width: 2rem;
    background-image: url(../../../../MessageIcon.png);
    background-position: center;
    background-size: contain;
}