:root {
    --font-family-main: 'PT Serif', serif;
    --font-family-secondary: 'Saira', sans-serif;
    --color-main-darkest: #003B46;
    --color-main-dark: #07575B;
    --color-main-light: #66A5AD;
    --color-main-ultra-light: #C4DFE6;
}